<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= @book.title %><span class="font-weight-normal">, <%= @book.author %></span> </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <div class="d-flex">
            <a href="<%= edit_book_path(@book) %>" class="p-2 btn btn-dark">Edit</a>
            <a href="<% book_path(@book) %>" data-confirm="Are you sure?" data-method="delete" class="p-2 btn btn-danger ml-2">Destroy</a>
            <a href="<%= books_path %>" class="ml-auto p-2 btn btn-primary">Back</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h2>History</h2>
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col">User ID</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <% @book.versions.each do |version| %>
              <tr>
                <th scope="row"><%= version.whodunnit %></th>
                <td>
                  <% if !version.reify.user_id %>
                    Borrowed
                  <% else %>
                    Returned
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>