<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= @book.title %><span class="font-weight-normal">, <%= @book.author %></span> </h5>
          <p class="card-text"><%= @book.description %></p>
          <div class="d-flex">
            <%= link_to 'Edit', edit_book_path(@book), class: "p-2 btn btn-dark", role: "button" %>
            <%= link_to 'Destroy', book_path(@book), method: :delete, data: { confirm: "Are you sure?" }, class: "p-2 btn btn-danger ml-2", role: "button" %>
            <%= link_to 'Back', books_path, class: "ml-auto p-2 btn btn-primary", role: "button" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h2>History</h2>
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col">User ID</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <% @book.versions.each do |version| %>
              <tr>
                <th scope="row"><%= version.whodunnit %></th>
                <td>
                  <% if version.reify.user_id %>
                    Returned
                  <% else %>
                    Borrowed
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>